<!DOCTYPE HTML>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://cdn.shoelace.style/1.0.0-beta24/shoelace.css">
    <link rel="stylesheet" href="/css/site.css" type="text/css">
</head>
<body>
    <main>
        <h1>@ViewData["Title"]</h1>
        @RenderBody()
    </main>
    <nav>
        <h2>cookbook</h2>
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/recipe">favorites</a></li>
            <li><a href="/">tags</a></li>
        </ul>
    </nav>

    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.shoelace.style/1.0.0-beta24/shoelace.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>