<!DOCTYPE HTML>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://cdn.shoelace.style/1.0.0-beta24/shoelace.css">
    <link rel="stylesheet" href="/css/site.css" type="text/css">
</head>
<body>
    <main>
        @RenderBody()
    </main>
    @RenderSection("Scripts", required: false)
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
            crossorigin="anonymous"></script>
    <script src="https://cdn.shoelace.style/1.0.0-beta24/shoelace.js"></script>
</body>
</html>