@model Cookbook.Models.Recipe

@{
    ViewData["Title"] = "Add Recipe";
}

<form asp-action="SubmitRecipe">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="input-field">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="input-field">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="input-field">
        <label asp-for="Author" class="control-label"></label>
        <input asp-for="Author" class="form-control" />
        <span asp-validation-for="Author" class="text-danger"></span>
    </div>
    <div class="input-field">
        <button type="submit">Submit</button>
    </div>
</form>
