@model List<Recipe>

@{
    ViewData["Title"] = "Recipes";
}

<ul class="recipe-list">
    @foreach (var recipe in Model)
    {
        <li>
            <a asp-action="Recipe" asp-route-id="@recipe.ID">
                @recipe.Title
            </a>
        </li>
    }
</ul>
